.about_banner.product_details_banner .content_banner {
    top: 8.052vw;
}
.about_banner.product_details_banner .content_banner .pera_cntent {
    margin-top: 20px;
}
.about_banner.product_details_banner .content_banner .fs-48 {
    width: 38vw;
    text-transform: capitalize;
}

.about_banner.product_details_banner .pera_cntent {
    width: 47vw;
}

.about_banner.product_details_banner .breadcrumb {
    margin-bottom: 2.86458vw;
}

.about_banner.product_details_banner .pera_cntent p {
    padding-bottom: 1.82292vw;
}

.about_banner.product_details_banner .pera_cntent p:last-child {
    padding-bottom: 0px;
}


.project_summary_section {
    margin-top: 5.20833vw;
    position: relative;
    width: 100%;
}

.project_summary_section .project_summary_inner {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 6.99vw;
}

.project_summary_section .project_summary_inner .pera_cntent {
    color: var(--foreground-secondary);
    line-height: 1.5;
}

.project_summary_section .project_summary_inner .pera_cntent>* {
    color: var(--foreground-secondary);
    line-height: 1.5;
    padding-bottom: 2.08333vw;
}

.project_summary_section .project_summary_inner .pera_cntent>*:last-child {
    padding-bottom: 0px;
}

.project_summary_section .project_summary_inner .project_summary_left {
    max-width: 100%;
    padding-bottom: 4.0625vw;
    width: 50.26042vw;
}

.project_summary_section .project_summary_left .common_heading {
    padding-bottom: 2.08333vw;
}

.project_summary_section .project_summary_inner .project_summary_left .fs-32 {
    padding-top: 3.125vw;
    padding-bottom: 2.1875vw;
    color: var(--foreground-on-white-blue);
    font-weight: 600;
    line-height: 1.2;
}

.project_summary_section .project_summary_inner .project_summary_left .fs-24 {
    color: var(--foreground-primary);
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 0.78125vw;
}

.project_summary_section .project_summary_left .key_research_img {
    padding-top: 40px;
    padding-bottom: 0.993vw;
    width: 100%;
}

.project_summary_section .project_summary_left .key_research_img img {
    width: 100%;
}

.project_summary_inner ul.list_content {
    width: 100%;
    padding-top: 1.04167vw;
    list-style-type: disc;
    padding-left: 1.97917vw;
}

.project_summary_inner ul.list_content li {
    font-family: var(--theme-barlow-font);
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 1.30208vw;
    color: var(--foreground-primary);

}

.project_summary_inner ul.list_content li:last-child {
    padding-bottom: 0px;
}

.project_summary_inner ul.list_content.approach_list li {
    color: var(--foreground-secondary);
    padding-bottom: 1.14583vw;
}

.project_summary_right .key_highlight {
    background: var(--foreground-on-white-red);
    width: fit-content;
    padding: 0.52083vw 1.5625vw;
    color: var(--container-bg-primary);
    font-family: var(--theme-barlow-font);
    font-weight: 600;
    margin-left: 1.5625vw;
    border-radius: 0.625vw 0.625vw 0px 0px;
    -webkit-border-radius: 0.625vw 0.625vw 0px 0px;
    -moz-border-radius: 0.625vw 0.625vw 0px 0px;
    -ms-border-radius: 0.625vw 0.625vw 0px 0px;
    -o-border-radius: 0.625vw 0.625vw 0px 0px;
}

.project_summary_right .fs-24 {
    color: var(--foreground-primary);
    font-weight: 600;
}

.project_summary_right .project_summary_right_inner {
    background: linear-gradient(259deg, rgba(251, 251, 238, 0.16) 7.4%, rgba(218, 82, 44, 0.03) 22.62%, rgba(56, 44, 116, 0.00) 85.46%);
    padding: 1.48667vw 1.5625vw;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* isha css start  */

.project_summary_right li {
    padding: 5px 0.83333vw;
    border: 1px solid var(--container-bg-border-primary);
    background: var(--container-bg-primary);
    box-shadow: 1px 1px 1.14583vw 0px rgba(0, 0, 0, 0.08);
    color: var(--foreground-on-white-blue);
    font-family: var(--theme-barlow-font);
    font-weight: 500;
    border-radius: 1.66667vw;
    -webkit-border-radius: 1.66667vw;
    -moz-border-radius: 1.66667vw;
    -ms-border-radius: 1.66667vw;
    -o-border-radius: 1.66667vw;
}

.project_summary_right_inner .technology_locations {
    margin-top: 1.14583vw;
    margin-bottom: 1.14583vw;
    position: relative;
}

.project_summary_right_inner .technology_locations:first-child {
    margin-top: 0px;
}

.project_summary_right_inner .technology_locations ul {
    padding-top: 0.83333vw;
    padding-bottom: 1.14583vw;
}

.technology_locations::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: rgba(36, 33, 33, 0.1);
}

.project_summary_right_inner .technology_locations ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 0.67708vw;
}

.project_summary_section .project_summary_right_fix {
    position: sticky;
    top: 5.20833vw;
    margin-bottom: 3.64583vw;
    width: 26.875vw;
}

.partners_collab_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: start;
    max-width: 112%;
    width: 112%;
    margin-top: 0.52083vw;
}


.partners_collab_img .col_img {
    width: 100%;
}

.partners_collab_img .col_img img {
    width: 100%;
}

.project_summary_right .project_summary_right_inner {
    background-color: rgba(212, 209, 195, 0.103);
}

.partners_collab {
    padding-top: 0.83333vw;
    padding-bottom: 0.94583vw;
}
.partners_collab_logo_slide {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 0.48125vw;

}

/* Webkit scrollbar styling */
.partners_collab_logo_slide::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.partners_collab_logo_slide::-webkit-scrollbar-track {
    background: transparent;
}

.partners_collab_logo_slide::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.download_report {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.download_report_right a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.download_report_right .fs-22 {
    color: var(--foreground-on-white-blue);
    font-family: var(--theme-barlow-font);
}
.social-share-show-hide {
    display: none;
}
.download_report .download_report h4 {
    color: var(--foreground-on-white-blue);
}

.download_report_right {
    justify-content: start;
    align-items: center;
    gap: 0.52083vw;
}

.insights_boxes li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background: var(--background-secondary);
    cursor: pointer;
}

.insights_boxes li a {
    padding: 0.625vw 1.25vw;
    color: rgba(40, 40, 40, 0.80);
    border-radius: 0.41667vw;
    font-family: var(--theme-barlow-font);
    border: 1px solid rgba(0, 0, 0, 0.30);
    -webkit-border-radius: 0.41667vw;
    -moz-border-radius: 0.41667vw;
    -ms-border-radius: 0.41667vw;
    -o-border-radius: 0.41667vw;
}

.insights_boxes ul {
    gap: 8px;
    padding-top: 3.22917vw;
    padding-bottom: 3.22917vw;
}

.our_mission_section .real_world_inner {
    padding-top: 0;
}

.insight-clickme .activelink {
    background: var(--dark-blue-0);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--button-foreground-primary);

    height: 100%;

}

.our_mission_section .heading_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
}

.our_mission_section .heading_text .para_content {
    width: 32.29167vw;
}

/* Fixed tabbing function display class */
.insights_tabs-stage {
    display: none;
}

.insights_tabs-stage.active {
    display: block;
}
.source {
    color: var(--foreground-secondary);
    padding-bottom: 3.64583vw;
}
.source a {
    color: var(--foreground-on-white-blue, #382C74);
    font-weight: 700;
}

.product_details_mission  .btn-wrap button {
    background: var(--container-bg-on-peach);
    border: none;
    width: 3.229vw;
    height: 3.229vw;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s;
    border-radius: 5.20833vw;
    -webkit-border-radius: 5.20833vw;
    -moz-border-radius: 5.20833vw;
    -ms-border-radius: 5.20833vw;
    -o-border-radius: 5.20833vw;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.product_details_mission .btn-wrap button.slick-disabled {
    opacity: 0.6;
    background: none;
    border: none;
}
.product_details_mission .slick-list {
    margin: 0px -0.52083vw;
}
.product_details_mission .slick-slide {
    margin: 0px 0.52083vw;
}
@media screen and (max-width: 1199px) {
    .about_banner.product_details_banner .content_banner {
        width: 45.896vw;
    }

    .project_summary_section .project_summary_right_fix {
        width: 100%;
    }

    .project_summary_section .project_summary_inner {
        gap: 5.99vw;
    }

    .project_summary_right .project_summary_right_inner {
        padding: 2vw;
    }

    .project_summary_right_inner .technology_locations ul {
        column-gap: 12px;
        row-gap: 12px;
    }

    .project_summary_right li {
        padding: 8px 20px;
    }

    .project_summary_right_inner .technology_locations ul {
        padding-top: 1.83333vw;
        padding-bottom: 3.14583vw;
    }

    .project_summary_right_inner .technology_locations {
        margin-top: 2.54583vw;
        margin-bottom: 2.14583vw;
    }

    .project_summary_section .project_summary_inner .project_summary_left {
        padding-bottom: 8.0625vw;
    }

    .project_summary_section .project_summary_right_fix {
        margin-bottom: 8.64583vw;
    }

    .our_mission_section .heading_text .para_content {
        width: 100%;
    }

    .insights_boxes ul {
        gap: 15px;
    }

    .insights_boxes li a {
        padding: 10px 18px;
    }

    .product_details_mission .btn-wrap {
        margin-top: 1.125vw;
    }
    .project_summary_section .project_summary_left .key_research_img {
    padding-bottom: 2.993vw;
}
}

@media screen and (max-width: 991px) {
    .about_banner.product_details_banner .content_banner {
        width: 62.896vw;
        top: 15vw;
    }

    .about_banner.product_details_banner .content_banner .fs-48 {
        width: 100%;
    }

    .about_banner.product_details_banner .pera_cntent {
        width: 100%;
    }

    .project_summary_section {
        margin-top: 6.20833vw;
    }

    .project_summary_section .project_summary_inner {
        gap: 2.99vw;
    }

    .project_summary_right li {
        padding: 6px 20px;
    }

    .insights_boxes li a {
        padding: 8px 15px;
        border-radius: 8px;
    }

    .our_mission_section {
        padding: 6.16667vw 0px;
    }

    .insights_boxes ul {
        padding-top: 6.22917vw;
        padding-bottom: 4.22917vw;
    }

    .product_details_mission .btn-wrap button {
        width: 5.229vw;
        height: 5.229vw;
    }

    .partners_collab {
        padding-bottom: 2.54583vw;
    }

    .partners_collab_img {
        margin-top: 2.04167vw;
    }

    .project_summary_section .project_summary_left .common_heading {
        padding-bottom: 3.08333vw;
    }

    .project_summary_section .project_summary_inner .project_summary_left .fs-24 {
        padding-bottom: 2.78125vw;
    }

    .project_summary_section .project_summary_inner .pera_cntent>* {
        padding-bottom: 3.08333vw;
    }

    .project_summary_section .project_summary_left .key_research_img {
        padding-bottom: 5.64583vw;
    }

    .project_summary_inner ul.list_content {
        padding-top: 3.04167vw;
        padding-left: 2.5vw;
    }
}

@media screen and (max-width: 768px) {
    .project_summary_section .project_summary_inner {
        grid-template-columns: 1fr;
    }

    .project_summary_section .project_summary_inner .project_summary_left {
        width: 100%;
    }

    .project_summary_section .project_summary_inner .fs-22 {
        font-size: 18px;
    }

    .project_summary_right_inner .technology_locations ul {
        padding-top: 2.83333vw;
        padding-bottom: 4.14583vw;
    }

    .project_summary_right li {
        padding: 6px 25px;
    }

    .project_summary_right_inner .technology_locations ul {
        column-gap: 20px;
        row-gap: 20px;
    }

    .project_summary_right_inner .technology_locations {
        margin-bottom: 2.54583vw;
    }
}

@media screen and (max-width: 767px) {

    .about_banner.product_details_banner .content_banner {
        width: 100%;
        top: 25vw;
    }

    .about_banner.product_details_banner .breadcrumb {
        margin-bottom: 5.86458vw;
        flex-wrap: wrap;
    }

    .project_summary_section .project_summary_inner .project_summary_left .fs-32 {
        padding-top: 6.125vw;
        padding-bottom: 4.1875vw;
    }

    .project_summary_section .project_summary_inner .project_summary_left .fs-24 {
        padding-bottom: 4.78125vw;
    }

    .project_summary_section .project_summary_left .key_research_img {
        padding-bottom: 4.64583vw;
    }

    .project_summary_inner ul.list_content {
        padding-top: 6.04167vw;
        padding-left: 22px;
    }

    .project_summary_section .project_summary_inner .project_summary_left {
        padding-bottom: 20px;
    }

    .project_summary_right .project_summary_right_inner {
        padding: 25px 20px;
    }

    .project_summary_right .key_highlight {
        padding: 8px 16px;
        margin-left: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .project_summary_right_inner .technology_locations ul {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .project_summary_right_inner .technology_locations ul {
        row-gap: 15px;
    }

    .project_summary_right_inner .technology_locations {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .partners_collab {
        padding-bottom: 30px;
        overflow: hidden;
    }

    .download_report_right {
        gap: 10px;
    }


    .product_details_mission .btn-wrap button {
        width: 10.229vw;
        height: 10.229vw;
    }

    .our_mission_section {
        padding: 12.16667vw 0px;
    }
 .partners_collab_img {
    max-width: inherit;
    width: 130%;
    margin-top: 20px;
}
  .our_mission_section.product_details_mission .insights_boxes.insights_page_wrap {
    overflow-x: scroll;
    margin-bottom: 5.22917vw;
}
 .our_mission_section.product_details_mission .insights_boxes ul {
    width: 150%;
    padding-top: 8.22917vw;
    padding-bottom: 4.22917vw;

}
.source {
    padding-bottom: 6.64583vw;
}
.about_banner.product_details_banner .content_banner {
    padding-left: 20px;
}
.product_details_mission .btn-wrap button {
    width: 12.229vw;
    height: 12.229vw;
    border-radius: 100%;
}
.product_details_mission .btn-wrap button {
    font-size: 12px;
}
.product_details_mission .btn-wrap button svg {
    padding: 0px;
    width: 26px;
}
}